

/* .loader {
    width: 50px;
    height: 51px;
    border: 6px solid;
    border-top-color: hsl(154,100%,31%);
    border-left-color: hsl(216,87%,52%);
    border-bottom-color: hsl(8,66%,50%);
    border-right-color: hsl(42,100%,51%);
    border-radius: 50%;
    transform: rotate(45deg);
    margin: 10px 10px;
  } */
  
  
@keyframes loading {
      0% { transform: translate(-9px, -25px) rotate(0deg); }
    100% { transform: translate(-9px, -25px) rotate(360deg); }
  }

/*   input:invalid {
    border: red solid 3px;
  } */


  /* customized CSS */



  /* index.html*/

body {
  margin: 0;
	padding: 0;
	border: 0;
}

.loader-container-home {
  position:relative;
  top:12rem;
  left:4rem;
  z-index:30;
}

.loader-container {
  z-index:30;
}

div#container-wrapper {
  position:relative;
  
}

div#home-title-container {
  position:fixed;
  top:4rem;
   height: 6rem;
   width: 100vw;
   z-index: 10;
   background-color:black;
     
 } 

  h1#home-title {
    position:fixed;
    margin-left: 17rem;
    margin-top: 8rem;
    top:-2rem;
    left:-14rem;
    font-size: 2rem; 
    color: white;
   /*  background-color: black; */
    display:block;
    z-index:1;
    
    
  }    


 .list-of-items {
   position:relative;
   top:16rem;
   width:100%;
   
 }

  a#link-to-detail , .card-body > a { 

  text-decoration:none;

  }


.card {
width:20rem;
margin: 2rem 1rem 1rem 3.5rem;

}


/* paginación de la lista de items (index.html)*/

.pagination-bar{

position:relative;
left:48rem;
top:16rem;
margin-top:1rem;

}

  
  /*login.html*/

  h1#login-title {

    font-size: 2rem; 
    margin-left: 52rem;
    margin-top: 16rem;
    padding-bottom:2rem;
  
    }

    /*signup.html*/

    h1#signup-title{
    
      font-size: 2rem; 
      margin-left: 46rem;
      margin-top: 8rem;
      padding-bottom:4rem;

     
    }


  /*edititem.html*/
  
  h1#edit-title{

    font-size: 2rem; 
    margin-left: 48rem;
    margin-top: 6rem;
    padding-bottom:2rem;

  }


/* newitem.html */

h1#new-title {

  font-size: 2rem; 
  margin-left: 48rem;
  margin-top: 6rem;
  padding-bottom:2rem;


}

  /* detail.html */

  .item-container {
    position:relative;
    top:5rem;
    left:33rem;
  }

/* errorView function in views.js */

div#error {
position:relative;
top:5rem;
z-index:20;

}

/* sucessView function in views.js */

div#success {
  position:relative;
  top:2rem;
  z-index:20;
  }


  /* detailEmptyView in views.js*/

div#detail-empty {
  width:50%;
  position:relative;
  top:2rem;;
  left:28rem;
  z-index:20;

  }



  /*homeEmptyView in views.js */
  
 div#home-empty {
  position:relative;
  top:5rem;
  z-index:20;
 } 